@font-face{
               font-family: "raleway";
               src:url("../Polices/Raleway-VariableFont_wght.ttf")
}
body
{
               background-color: white;
               font-family: raleway;
               display: flex;
               flex-direction: column;
}   

main{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}
        
header
{
     display: flex;
     align-content: space-between;
     margin-left: 5%;
     width: 90%;
     height: 100%;
}
.logohead
{
     display: flex;
     border-style: none;
     padding: 0 2rem;
     height: 100%;
     width: 10%;
}
.menu
{
      color: black;
      display: flex;
      justify-content: end;
      width: 100%;
}
.menue{
     display: flex;
     flex-direction: row;
     align-items: center;
     width: 20%;
     justify-content: space-evenly;
}
.menu2{
    display: flex;
    color: #0065fc;
    border-top: 3px solid #0065fc;
    padding-top: 5%;
}
.menu3{
    color: #0065fc;
    font-weight: bold;
    display: flex;
    align-items: center;
    align-content: flex-end;
    width: 25%;
    padding-top: 1%;
}
a{
    text-decoration: none;
    color: inherit;
    padding-top: 5%;
} 
#menu:hover
{
               color: #0065fc;
}
.recherche{
               margin: 1rem;
               font-size: 15px;
}
h1
{
               font-size: 1.5em;
               margin: .67em 0;
}
.recherchelieu
{
               display: inline-flex;
               width: 100%;
               overflow: auto;
               margin-right: 1rem;
               font-size: 30px;
}
.recherchelieuicon{
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 0.75rem 1rem;
     background-color: #f2f2f2;
     border-radius: 1rem 0 0 1 rem;
     border-top-left-radius: 1rem;
     border-bottom-left-radius: 1rem;
}
.recherchelieu2{
    padding: 0 0 0 2%;
    font-weight: bold;
    border-left: none;
    border-right: none;
    border-top: #f2f2f2 1px solid ;
    border-bottom: #f2f2f2 1px solid;
}
.recherchelieubutton
{
               background-color:#0065fc;
               color: white;
               cursor: pointer;
               border: none;
               border-radius: 0 1rem 1rem 0;
               font-weight: bold;
               padding: 0 2rem 0 2rem;
               font-weight: bold;
}
.fa-search{
    display: none;
    visibility: hidden;
}
.filtre
{
               display: flex;
               margin-top: 2rem;
               flex-wrap: wrap;
}
.filtretitre
{
               margin: 0 2rem 1rem 0;
               display: flex;
               align-items: center;
}
.filtre2
{
               display: flex;
               align-items: center;
               margin-right: 2rem;
               border: 2px solid #d9d9d9;
               border-radius: 2rem;
               cursor: pointer;
               font-weight: bold;
               width: auto;
}
.filtre2:hover
{
               background-color: white;
               color: #0065fc;
}
.filtreicon
{
               background-color: burlywood;
               min-width: 3.5rem;
               min-height: 3.5rem;
               display: flex;
               justify-content: center;
               align-items: center;
               border-radius: 100%;
}
.filtretext
{
               margin: 1rem;

}
.rechercherésultat
{
               display: flex;
               margin: 2rem;
               align-items: center;
}
.rechercherésultaticon
{
               margin-right: 2rem;
               font-weight: 900;
               color: #0065fc;
               border-radius: 100%;
               background-color: khaki;
}
.filtreicon{
    color: #0065fc;
    background-color:#DEEBFF
}
.rechercheresultaticon{
     min-width: 2rem;
     min-height: 2rem;
     background-color: #fafafa;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 100%;
     margin-right: 3%;
     border: solid 1px ;
}
.fa-info{
    color: #0065fc;
}
#hebergement{
               display: flex;
               flex-direction: row;               
}
h2{
    margin-left: 3%;
}
.hebergementselectione{
               display: flex;
               flex-wrap: wrap;
               flex-direction: column;
               margin-right: 2%;
               border-radius: 1rem;
               background-color: #f2f2f2;
               width: 65%;
}
.toushebergement{
               display: flex;
               justify-content: space-between;
               width: 100%;
}
.fa-star{
    color: #0065fc;
}
.etoile2{
    color: #d2d2d2;
}
.hebergement1{
               display: flex;
               flex-direction: column;
               background-color: white;
               cursor: pointer;
               margin: 1%;
               border-radius: 1.25rem;
               padding: 0.5%;
               width: 100%;
}
.hebergementphoto{
             width: 100%;
             height: 114px;
             border-top-left-radius: 1rem;
             border-top-right-radius: 1rem;
             object-fit: cover;
}
.hebergementnomprix{
    display: flex;
    flex-direction: column;
}
.afficherplus{
    font-weight: bold;
    margin: 2%;
}
.hebergementpopulaire{
               display: flex;
               flex-direction: column;
               background-color: #f2f2f2;
               width: 35%;
               border-radius: 1rem;
}
.hebergementpopulairetitre{
               display: flex;
               justify-content: space-between;
               align-items: center;
               margin: 0 2% 0 0;
}
.fa-chart-line{
    font-size: 25px;
}
.hebergementpopulaire3{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 2%;
    align-self: center;
    margin: 5%;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    cursor: pointer;
    border-radius: 1rem;
}
.hebergementpopulairephoto{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: 35%;
    height: 161px;
    object-fit: cover;
}
.hebergementpopulaireprixnom{
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    width: 50%;
}
.activite{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}
.activite2{
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    justify-content: space-between;
    width: 100%;
    overflow: auto;
}
.activite3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    border-radius: 1rem;
    width: 100%;   
}
.lieuactivite{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px #0000002e;
    cursor: pointer;
    border-radius: 2rem;
    margin: 0 1% 2% 1%;
    width: 100%;
}
.lieuactivite2{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px #0000002e;
    cursor: pointer;
    border-radius: 2rem;
    margin-right: 2%;
    width: 100%;
    margin-bottom: 7%;
}
.lieuactivite1{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px #0000002e;
    cursor: pointer;
    border-radius: 2rem;
    margin-right: 2%;
    width: 100%;
}
.photoactivite1{
    height: 488px;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    object-fit: cover;
}
.photoactivite2{
    height: 229px;
    width: 100%;
    object-fit: cover;
}
.photoactivite3{
    height: 164px;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    object-fit: cover;
}
.photoactivite5{
    height: 164px;
    width: 100%;
    object-fit: cover;
}
.photoactivite6{
    height: 228px;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    object-fit: cover;
}
.titreactivite{
    padding-left: 2rem;
}
.footercolumn
{
               width: 100%;
               display: flex;
               padding: 0 2rem;
               box-sizing: border-box;
               margin: 2rem 0 0 0;
               background-color: #f2f2f2;
}
.colonne
{
               width: 30%;
               padding-left: 7%;
}
.colonnepied
{
               display: block;
               margin: 1rem 0;
}

.colonne a{
                display: block;
               margin: 1rem 0;
}

@media (max-width: 376px)
{
     body{
         width: 100%;
         margin: 0 0 0 0;
         font-size: 20px;
     }
     header{
         display: flex;
         height: 100px;
         width: 100%;
         flex-wrap: wrap;
         justify-content: space-between;
     }
     .logohead{
         display: flex;
         align-items: flex-start;
         width: 25%;
         height: 50%;
     }
     .menu{
         display: flex;
         flex-flow: column-reverse wrap;
         height: 50%;
     }
     .menue{
         display: flex;
         flex-direction: row;
         align-content: space-around;
         width: 100%;
         height: 50%;
     }
     .menu3{
         display: flex;
         order: 1;
         width: 50%;
         height: 50%;
     }
     main{
         display: flex;
         flex-direction: column;
     }     
     .filtre{
         display: flex;
         flex-direction: column;
     }
     .filtre2{
         display: flex;
         flex-direction: row;
     }
     .recherchelieubutton2{
         display: none;
         visibility: hidden;
     }
     .fa-search{
         display: flex;
         visibility: visible;
     }
     #hebergement{
         display: flex;
         flex-direction: column-reverse;
         background-color: white;
     }
     .hebergementpopulaire{
         width: 100%;
         font-size: 14px;
     }
     .hebergementpopulairephoto{
         height: 165px;
         width: 40%;;
         object-fit: cover;
     }
     .hebergementselectione{
         display: flex;
         flex-direction: column;
         width: 100%;
         background-color: white;
     }
     .toushebergement{
         display: flex;
         flex-direction: column;
         width: 100%;
         background-color: #f2f2f2;
     }
     .hebergementphoto{
         width: 100%;
         height: 145px;
         object-fit: cover;
     }
     .activite{
         display: flex;
         flex-direction: column;
         width: 100%;
     }
     .activite2{
         display: flex;
         flex-direction: column;
         width: 100%;
     }
     .lieuactivite{
         margin: 10px 0 10px 0;
     }
     .lieuactivite1{
        margin: 10px 0 10px 0;
     }
     .lieuactivite2{
        margin: 10px 0 10px 0;
     }
     .photoactivite1{
         height:133px ;
         width: 100%;
         object-fit: cover;
     }
     .photoactivite2{
        height: 133px;
        width: 100%;
        object-fit: cover;
     }
     .photoactivite3{
        height: 133px;
        width: 100%;
        object-fit: cover;
     }
     .photoactivite5{
         height: 133px;
         width: 100%;
         object-fit: cover;
     }
     .photoactivite6{
         height: 133px;
         width: 100%;
         object-fit: cover;
     }
     .footercolumn{
         display: flex;
         flex-direction: column;
         width: 100%;
     }
}


@media (min-width: 376px) and (max-width: 600px)
{
    body{
        width: 100%;
        margin: 0 0 0 0;
        font-size: 20px;
    }
    header{
        display: flex;
        height: 100px;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .logohead{
        display: flex;
        align-items: flex-start;
        width: 25%;
        height: 50%;
    }
    .menu{
        display: flex;
        flex-flow: column-reverse wrap;
        height: 50%;
    }
    .menue{
        display: flex;
        flex-direction: row;
        align-content: space-around;
        width: 100%;
        height: 50%;
    }
    .menu3{
        display: flex;
        order: 1;
        width: 50%;
        height: 50%;
    }
    main{
        display: flex;
        flex-direction: column;
    }   
    .filtre{
        display: flex;
        flex-direction: column;
    }
    .filtre2{
        display: flex;
        flex-direction: row;
    }
    .recherchelieubutton2{
        display: none;
        visibility: hidden;
    }
    .fa-search{
        display: flex;
        visibility: visible;
    }
    #hebergement{
        display: flex;
        flex-direction: column-reverse;
        background-color: white;
    }
    .hebergementpopulaire{
        width: 100%;
        font-size: 14px;
    }
    .hebergementpopulairephoto{
        height: 165px;
        width: 40%;;
        object-fit: cover;
    }
    .hebergementselectione{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: white;
    }
    .toushebergement{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #f2f2f2;
    }
    .hebergementphoto{
        width: 100%;
        height: 145px;
        object-fit: cover;
    }
    .activite{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
     .activite2{
         display: flex;
         flex-direction: column;
         width: 100%;
     }
     .lieuactivite{
        margin: 10px 0 10px 0;
    }
    .lieuactivite1{
        margin: 10px 0 10px 0;
     }
     .lieuactivite2{
        margin: 10px 0 10px 0;
     }
     .photoactivite1{
        height:133px ;
        width: 100%;
        object-fit: cover;
    }
    .photoactivite2{
        height: 133px;
        width: 100%;
        object-fit: cover;
     }
     .photoactivite3{
        height: 133px;
        width: 100%;
        object-fit: cover;
     }
     .photoactivite5{
        height: 133px;
        width: 100%;
        object-fit: cover;
    }
    .photoactivite6{
        height: 133px;
        width: 100%;
        object-fit: cover;
    }
    .footercolumn{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 1024px)
{

}