@font-face{
               font-family: "raleway";
               src:url("../Polices/Raleway-VariableFont_wght.ttf")
}
body
{
               background-color: white;
               font-family: raleway;
               display: flex;
               flex-direction: column;
}   

main{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}
        
.header
{
     display: flex;
     justify-content: space-between;
     align-items: center;
     grid-template-columns: auto 1fr auto;
     margin-right: 5%;
     margin-left: 5%;
}
.logohead
{
     border-style: none;
     padding: 0 2rem;
     height: 100%;
}
#menu
{
               color: black;
               display: flex;
               justify-content: space-between;
               height: 100%;
}
.menu2{
    display: flex;
    margin: 0 2rem 0 2rem;
    color: #0065fc;
    border-top: 3px solid #0065fc;
}
.menu3{
    margin: 0 2rem 0 2rem;
    color: #0065fc;
}
a{
    text-decoration: none;
    color: inherit;
} 
#menu:hover
{
               color: #0065fc;
}
.recherche{
               margin: 1rem;
               font-size: 20px;
}
h1
{
               font-size: 1.5em;
               margin: .67em 0;
}
.recherchelieu
{
               display: inline-flex;
               width: 100%;
               overflow: auto;
               margin-right: 1rem;
               font-size: 30px;
}
.recherchelieuicon{
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 0.75rem 1rem;
     background-color: #f2f2f2;
     border-radius: 1rem 0 0 1 rem;
}
.recherchelieu2{
    padding: 0 0 0 2%;
    font-weight: bold;
}
.recherchelieubutton
{
               background-color:#0065fc;
               color: white;
               cursor: pointer;
               border: none;
               border-radius: 0 1rem 1rem 0;
               font-weight: bold;
               padding: 0 2rem 0 2rem;
               font-weight: bold;
}
.filtre
{
               display: flex;
               margin-top: 2rem;
               flex-wrap: wrap;
}
.filtretitre
{
               margin: 0 2rem 1rem 0;
               display: flex;
               align-items: center;
}
.filtre2
{
               display: flex;
               align-items: center;
               margin-right: 2rem;
               border: 2px solid #d9d9d9;
               border-radius: 2rem;
               cursor: pointer;
               transition-duration: 0.1s;
               font-weight: bold;
}
.filtre2:hover
{
               background-color: white;
               color: #0065fc;
}
.filtreicon
{
               background-color: burlywood;
               min-width: 3.5rem;
               min-height: 3.5rem;
               display: flex;
               justify-content: center;
               align-items: center;
               border-radius: 100%;
}
.filtretext
{
               margin: 1rem;

}
.rechercherésultat
{
               display: flex;
               margin: 2rem;
               align-items: center;
}
.rechercherésultaticon
{
               margin-right: 2rem;
               font-weight: 900;
               color: #0065fc;
               border-radius: 100%;
               background-color: khaki;
}
.filtreicon{
    color: #0065fc;
    background-color:#DEEBFF
}
.rechercheresultaticon{
     min-width: 2rem;
     min-height: 2rem;
     background-color: #fafafa;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 100%;
     margin-right: 3%;
     border: solid 1px ;
}
.fa-info{
    color: #0065fc;
}
#hebergement{
               display: flex;
               flex-direction: row;               
}
h2{
    margin-left: 3%;
}
.hebergementselectione{
               display: flex;
               flex-wrap: wrap;
               flex-direction: column;
               margin-right: 2%;
               border-radius: 1rem;
               background-color: #f2f2f2;
               width: 70%;
}
.toushebergement{
               display: flex;
               justify-content: space-between;
}
.fa-star{
    color: #0065fc;
}
.toushebergement2
{
               display: flex;
               justify-content: space-between;
}
.hebergement1{
               display: flex;
               flex-direction: column;
               background-color: white;
               cursor: pointer;
               margin: 2%;
               border-radius: 1.25rem;
               justify-content: space-between;
}
.hebergementphoto{
               margin: auto;
               border-radius: 1rem;
}
.afficherplus{
    font-weight: bold;
}
.hebergementpopulaire{
               display: flex;
               flex-direction: column;
               background-color: #f2f2f2;
               width: 30%;
               border-radius: 1rem;
}
.iconepoplairetitre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hebergementpopulairetitre{
               display: flex;
               justify-content: space-between;
}
.hebergementpopulaire3{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 2%;
    align-self: center;
    margin: 5%;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    cursor: pointer;
    border-radius: 1rem;
}
.hebergementpopulairephoto{
    border-radius: 1rem;
}
.activite{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.activite2{
    display: flex;
    flex-direction: row;
}
.activite3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
.lieuactivite{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px #0000002e;
    cursor: pointer;
    border-radius: 2rem;
    margin-right: 2%;
}
.lieuactivite2{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px #0000002e;
    cursor: pointer;
    border-radius: 2rem;
    margin-right: 2%;
}
.lieuactivite1{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px #0000002e;
    cursor: pointer;
    border-radius: 2rem;
    margin-right: 2%;
}
.photoactivite{
    height: 100%;
    width: 100%;
}
.titreactivite{
    padding-left: 2rem;
}
.footercolumn
{
               width: 100%;
               display: flex;
               padding: 0 2rem;
               box-sizing: border-box;
               margin: 2rem 0 0 0;
               background-color: #f2f2f2;
}
.colonne
{
               width: 30%;
               padding: 2rem 2rem;
}
.colonnepied
{
               display: block;
               margin: 1rem 0;
}

.colonne a{
                display: block;
               margin: 1rem 0;
}
