html
{
               line-height: 1.15;
}
body
{
               background-color:#f2f2f2;
               font-family: "raleway", "sans serif";
               display: flex;
               flex-direction: column;
}             
.header
{
               display: grid;
               align-items: center;
               max-height: 87px;
               margin: auto;
               grid-template-columns: auto 1fr auto;
               grid-template-areas: logohead, menu;
}
#logohead
{
               border-style: none;
}
#menu
{
             text-align: right;
}
.menuhebergement
{
               color: blue;
               border-bottom: white 3px transparent solid;
               padding: 3rem;
               font-weight: 100;
}
.searchfiltre
{
               display: inline-block;
               text-align: right;
}