html
{
               line-height: 1.15;
}
body
{
               background-color:#f2f2f2;
               font-family: "raleway" "sans serif";
               margin: 0%;
}
header
{
               display: grid;
}
#logohead
{
               border-style: none;
               grid-area: logo;
               padding: 0 2rem;
               height: 2.813rem;
}
#menu
{
               display: flex;
               text-align: right;
}
.searchfiltre
{
               display: inline-block;
               text-align: right;
}